body{
  background-color:#27296D;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

h3 {
  color:white;
}
p {
  color:white;
}

li {
  color:white;
}

label {
  color:white;
}

table {
  color:white;
}

input {
  background-color:#FFC947;
}

textarea {
  background-color:#FFC947;
}
a {
  color:#FFC947;
}

hr {
  background-color:#00BBF0;
  height: 5px;
}
